body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #D9CAB3;
    min-height: 100vh;
}

h1{
    text-align: center;
}

#product-form{
    background-color: transparent;
    padding: 5rem 0;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
   
}
nav{
    background-color: #212121;
    color: #F6F6F6;
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #6D9886;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 0.2rem;
    width: 100vw;
}