body{
    box-sizing: border-box;
    margin: 0;
}

h1{
    text-align: center;
}

#product-form{
    background-color: rgb(186, 185, 185);
    padding: 2rem 0;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
   
}
nav{
    background-color: rgb(147, 147, 147);
    display: flex;
    justify-content: space-around;
}